<section class="cart">
    <div class="cart-area">
        <div class="c-order">
            <img src="/img/cart.svg" alt="">
            <h3>Order summary</h3>
        </div>
        <hr>
        <div class="cart-box">
            <div class="cart-item flex">
                <div class="item-img">
                    <img src="/img/hero.png" alt="">
                    <div class="item-name">
                        <h2>Marinara</h2>
                        <h5>medium</h5>
                    </div>
                </div>
                <span>1 pcs</span>
                <span>300 RS</span>
            </div>
        </div>
        <hr>
        <div class="order-details">
            <div class="amount">
                <span>Total Amount: </span>
                <span>400 RS</span>
            </div>
            <div>
                <form action="#" class="user-detail">
                    <input type="text" placeholder="Phone Number"><br>
                    <input type="text" placeholder="Address"><br>
                    <!-- <button class="btn" type="submit">Order Now</button> -->
                </form>
            </div>
            <a href="/login"><button class="btn">Login to continue</button></a>
        </div>
    </div>
</section>


<!-- <section class="empty-cart">
    <div class="e-cart">
        <h2>Cart Empty !</h2>
        <p>You probably haven't ordered a pizza yet,<br>To order a pizza go to the main page.</p>
        <img src="/img/cart.avif" alt="">
        <div><a href="/"><button class="cart-btn btn">Go back</button></a></div>
    </div>
</section> -->