    <section class="hero">
        <div class="container flex">
            <div class="hungry">
                <h6><em>Are you hungry ?</em></h6>
                <h2>Don't Wait !</h2>
                <button class="btn">Order Now</button>
            </div>
            <div class="hero-logo">
                <img src="/img/hero.png" alt="">
            </div>
        </div>
    </section>
    <section class="menu">
        <div class="container">
            <h3>All Pizzas</h3>
            <div class="menu-box">
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>