<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>real-time pizza tracker app</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>

<body>
    <nav>
        <div class="container flex">
            <div class="logo flex1">
                <img src="/img/logo.jpg" alt="logo">
                <span>Pizza</span>
            </div>
            <div class="menues flex1">
                <li><a href="#">Menu</a></li>
                <li><a href="#">Offers</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#"><img src="/img/cart.svg" alt=""></a></li>
            </div>
        </div>
    </nav>
    <section class="hero">
        <div class="container flex">
            <div class="hungry">
                <h6><em>Are you hungry ?</em></h6>
                <h2>Don't Wait !</h2>
            </div>
            <div class="hero-logo">
                <img src="/img/hero.png" alt="">
            </div>
        </div>
    </section>
    <section class="menu">
        <div class="container">
            <h3>All Pizzas</h3>
            <div class="menu-box">
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="/img/hero.png" alt="">
                    <div class="item-detail">
                        <div class="item-name">
                            <h2>Margherita</h2>
                            <span class="size">small</span>
                        </div>
                        <div class="price">
                            <span>250 RS</span>
                            <button class="add flex">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="/js/app.js"></script>

</html>