<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>real-time pizza tracker app</title>
    <base href="/">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css"
        integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav>
        <div class="container flex">
            <div class="logo flex1">
                <a href="/"><img src="/img/logo.jpg" alt="logo"></a>
                <span>Pizza</span>
            </div>
            <div class="menues flex1">
                <li><a href="/">Menu</a></li>
                <% if( user ) {%>
                    <form class="logout" action="/logout" method="post">
                        <% if(user.role=='admin' ) { %>
                            <li><a href="/admin/orders">All orders</a></li>
                            <% } else { %>
                                <li><a href="/customer/orders">My orders</a></li>
                                <% } %>
                                    <li><a onclick="document.querySelector('.logout').submit();" href="#">Logout</a>
                                    </li>
                    </form>
                    <% } else {%>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                        <% } %>
                            <li><a href="/cart"><span class="qty-counter">
                                        <%= session.cart ? session.cart.totalQty: " " %>
                                    </span><img src="/img/cart.svg" alt=""></a></li>
            </div>
        </div>
    </nav>
    <%- body %>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js"></script>

</html>