<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>real-time pizza tracker app</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>

<body>
    <nav>
        <div class="container flex">
            <div class="logo flex1">
                <img src="/img/logo.jpg" alt="logo">
                <span>Pizza</span>
            </div>
            <div class="menues flex1">
                <li><a href="/">Menu</a></li>
                <li><a href="#">Offers</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/cart"><img src="/img/cart.svg" alt=""></a></li>
            </div>
        </div>
    </nav>
    <%- body %>
</body>
<script src="/js/app.js"></script>

</html>