<section class="singleOrder">
    <div class="orderContainer">
        <div class="flex">
            <h3 class="font-bold">Track delivery status</h3>
            <span class="orderId"><%= order._id %></span>
        </div>
        <ul>
            <li class="white-line status-line pb-16"><span>Order Placed</span></li>
            <li class="white-line status-line pb-16"><span>Order confirmation</span></li>
            <li class="white-line status-line pb-16"><span>Preparation</span></li>
            <li class="white-line status-line pb-16"><span>Out for delivery</span></li>
            <li class="white-line"><span>Complete</span></li>
        </ul>
        <a href="/customer/orders"><button class="btn back">back</button></a>
    </div>
</section>