<section class="order">
    <div class="container">
        <h2 class="o-title">My Orders</h2>
        <% if(messages.success) { %>
            <div class="succes-alert" role="alert">Orderd place succesfully!</div>
            <% } %>
                <table>
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Customer</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody class="getAllOrders">

                    </tbody>
                </table>
    </div>

</section>